langchain
ipykernel
python-dotenv
langchain-community
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain_text_splitters
langchain_openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
fastapi
uvicorn
langserve
langchain_community
langchain_groq


faiss-cpu
pypdf

torch==2.2.2
sentence-transformers==2.7.0
transformers<5
